.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button {
  background: linear-gradient(to right, #FFD700, #FFA500);
  border-radius: 10px;
  color: white;
  padding: 15px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.container button:hover {
  background: linear-gradient(to right, #FFA500, #FFD700);
}
