.history-container {
  width: 50%;
  
}

#view-history-button {
  height: 60px;
  width: 180px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.history-container button:hover {
  background-color: #0056b3;
}

.history-container #history-list {
  
  margin-top: 10px;
  display: flex;
  flex-direction: row;
 
  flex-wrap: wrap;
}
.history-button{
  width: 50%;

}




/* .history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-container button {
  background: linear-gradient(to right, #FFD700, #FFA500);
  border-radius: 10px;
  color: white;
  padding: 15px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.history-container button:hover {
  background: linear-gradient(to right, #FFA500, #FFD700);
} */

